
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Error</h4>

<p>Invalid Card !</p>

 ViewBag.lblResult1
<br />
 ViewBag.lblResult2
<br />
 ViewBag.lblResult3
<br />